// Breakpoints
//==================================================================*/
$breakpoints: (
    phone: 320px,
    phablet: 480px,
    mini-tablet: 640px,
    tablet: 768px,
    laptop: 1024px,
    desktop: 1340px,
    largeDesktop: 1920px
);
